p{
  text-align: center;
  background-color: gray;
  height: 80px;
  color: antiquewhite;
  font-size:x-large;
  justify-content: center;
  position:fixed;
  left: 5%; right: 5%;
}
q{
  text-align: center;
  background-color: lightgray;
  top: 30%;
  color: purple;
  font-size:x-large;
  justify-content: center;
  position:fixed;
  left: 5%; right: 5%;
}
