* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e8e4d9;
}
li,
a {
  font-family: "Roboto Slab", serif;

  font-weight: 600;
  font-size: 30px;
  color: rgba(26, 24, 24, 0.315);
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 80px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: darkslateblue;
}
a {
  background-color: rgb(163, 128, 180);
}
.img-okano {
  display: absoulte;
  size: 100px 100px;
  height: 100 px;
  width: 100 px;
}
