* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

nav {
  padding: 2rem 0;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.nav__links {
  list-style: none;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: darkslateblue;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 2rem;
  color: rgba(19, 18, 18, 0.315);
  text-decoration: none;
  background-color: rgb(163, 128, 180);
  height: 3rem;
  width: 10rem;
  border-radius: 1.1rem;
  user-select: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(5, 5, 5);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  transition: height 0.3s ease-in-out;
}

.faq-body {
  margin: auto;
  width: 50%;
  padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active1,
.faq-page:hover {
  background-color: #f9f9f9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-body p {
  font-size: 1.5rem;
}

.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

@media (max-width: 1050px) {
  .hamburger {
    display: block;
  }
  .hamburger .active .bar :nth-child(2) {
    opacity: 0;
  }
  .hamburger .active .bar :nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .active .bar :nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav__links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;

    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav__links li {
    margin: 16px 0;
  }
  .nav__links.active {
    left: 0;
  }
  .faq-page,
  .faq-body {
    width: 90%;
  }
}
