* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/slike/flowers.jpg);
  background-size: 100%;
  overflow: hidden;
}
nav {
  padding: 2% 0;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.nav__links {
  list-style: none;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: darkslateblue;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgba(26, 24, 24, 0.315);
  text-decoration: none;
  background-color: rgb(163, 128, 180);
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
}
.img-okano {
  position: absolute;
  width: 85rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
